html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}

body{
    font:12px/1.55 "Arial",Helvetica, Arial, sans-serif;
    color:#0f0f0f;
    background:#fafafa;
	margin:20px;
}
h2{
	color:#333333;
	margin:15px 0 25px 0;
	font-size:30px;
	font-weight:bold;
}
.item{
	text-align:center;
	line-height:50px;
	float:left;
	width:50px;
	height:50px;
	background: #dedede;
	margin: 5px 5px 5px 0;
	color:#888;
	font-size:15px;
}
.fader,.random,.reverse{display: none;}
.button{
	margin-top:20px;
	padding:6px 10px;
	border:1px solid #DBDBDB;
	background:#F5F5F5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#EAEAEA'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#EAEAEA)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F5F5F5,  #EAEAEA); /* for firefox 3.6+ */
	color:#444444;
	box-shadow:0px 0px 6px rgba(15,15,15,0.2);
	-moz-box-shadow:0px 0px 6px rgba(15,15,15,0.2);
	-webkit-box-shadow:0px 0px 6px rgba(15,15,15,0.2);
	text-decoration:none;
	cursor:pointer;
	font-size:12px;
}
.no-display   { display:none; }
.clearer      {clear:both; }